{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

<aside class="sidebar-navigation">
  <div class="scrollbar-wrapper">
    <div>
      <button type="button" class="button-menu-mobile btn-mobile-view visible-xs visible-sm">
        <i class="mdi mdi-close"></i>
      </button>
      <!-- User Detail box -->
      <div class="user-details">
        <div class="pull-left">
          <img src="/{{ directory }}/assets/images/users/avatar-1.jpg" alt="" class="thumb-md img-circle">
        </div>
        <div class="user-info">
          <a href="#">Stanley Jones</a>
          <p class="text-muted m-0">Administrator</p>
        </div>
      </div>
      <!--- End User Detail box -->

      <!-- Left Menu Start -->

{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass('metisMenu nav') }} id="side-menu">
    {% else %}
      <ul class="nav-second-level nav" aria-expanded="true">
    {% endif %}
    {% for item in items %}
      {%
        set classes = [
          item.is_expanded ? 'menu-item--expanded',
          item.is_collapsed ? 'menu-item--collapsed',
          item.in_active_trail ? 'menu-item--active-trail',
        ]
      %}
      {% set ext_attr = item.is_expanded ? 'true' : 'false' %}
      <li aria-expanded="true">
        {{ link(item.title, item.url) }}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

    </div>
  </div><!--Scrollbar wrapper-->

</aside>