{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
<div class="page-wrapper">

  <div class="topbar" role="banner">
    <!-- LOGO -->
    <div class="topbar-left">
      {{ page.topbar_left }}
    </div>

    <!-- Top navbar -->
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="">

          <!-- Mobile menu button -->
          <div class="pull-left">
            <button type="button" class="button-menu-mobile visible-xs visible-sm">
              <i class="fa fa-bars"></i>
            </button>
            <span class="clearfix"></span>
          </div>

          <!-- Top nav left menu -->


          <!-- Top nav Right menu -->
          <ul class="nav navbar-nav navbar-right top-navbar-items-right pull-right">
            <li class="hidden-xs">
              <form role="search" class="navbar-left app-search pull-left">
                <input type="text" placeholder="Search..." class="form-control">
                <a href=""><i class="fa fa-search"></i></a>
              </form>
            </li>
            <li class="dropdown top-menu-item-xs">
              <a href="#" data-target="#" class="dropdown-toggle menu-right-item" data-toggle="dropdown" aria-expanded="true">
                <i class="mdi mdi-bell"></i> <span class="label label-danger">3</span>
              </a>
              <ul class="dropdown-menu p-0 dropdown-menu-lg">
                <!--<li class="notifi-title"><span class="label label-default pull-right">New 3</span>Notification</li>-->
                <li class="list-group notification-list" style="height: 267px;">
                  <div class="slimscroll">
                    <!-- list item-->
                    <a href="javascript:void(0);" class="list-group-item">
                      <div class="media">
                        <div class="media-left p-r-10">
                          <em class="fa fa-diamond bg-primary"></em>
                        </div>
                        <div class="media-body">
                          <h5 class="media-heading">A new order has been placed A new order has been placed</h5>
                          <p class="m-0">
                            <small>There are new settings available</small>
                          </p>
                        </div>
                      </div>
                    </a>

                    <!-- list item-->
                    <a href="javascript:void(0);" class="list-group-item">
                      <div class="media">
                        <div class="media-left p-r-10">
                          <em class="fa fa-cog bg-warning"></em>
                        </div>
                        <div class="media-body">
                          <h5 class="media-heading">New settings</h5>
                          <p class="m-0">
                            <small>There are new settings available</small>
                          </p>
                        </div>
                      </div>
                    </a>

                    <!-- list item-->
                    <a href="javascript:void(0);" class="list-group-item">
                      <div class="media">
                        <div class="media-left p-r-10">
                          <em class="fa fa-bell-o bg-custom"></em>
                        </div>
                        <div class="media-body">
                          <h5 class="media-heading">Updates</h5>
                          <p class="m-0">
                            <small>There are <span class="text-primary font-600">2</span> new updates available</small>
                          </p>
                        </div>
                      </div>
                    </a>

                    <!-- list item-->
                    <a href="javascript:void(0);" class="list-group-item">
                      <div class="media">
                        <div class="media-left p-r-10">
                          <em class="fa fa-user-plus bg-danger"></em>
                        </div>
                        <div class="media-body">
                          <h5 class="media-heading">New user registered</h5>
                          <p class="m-0">
                            <small>You have 10 unread messages</small>
                          </p>
                        </div>
                      </div>
                    </a>

                    <!-- list item-->
                    <a href="javascript:void(0);" class="list-group-item">
                      <div class="media">
                        <div class="media-left p-r-10">
                          <em class="fa fa-diamond bg-primary"></em>
                        </div>
                        <div class="media-body">
                          <h5 class="media-heading">A new order has been placed A new order has been placed</h5>
                          <p class="m-0">
                            <small>There are new settings available</small>
                          </p>
                        </div>
                      </div>
                    </a>

                    <!-- list item-->
                    <a href="javascript:void(0);" class="list-group-item">
                      <div class="media">
                        <div class="media-left p-r-10">
                          <em class="fa fa-cog bg-warning"></em>
                        </div>
                        <div class="media-body">
                          <h5 class="media-heading">New settings</h5>
                          <p class="m-0">
                            <small>There are new settings available</small>
                          </p>
                        </div>
                      </div>
                    </a>
                  </div>
                </li>
                <!--<li>-->
                <!--<a href="javascript:void(0);" class="list-group-item text-right">-->
                <!--<small class="font-600">See all notifications</small>-->
                <!--</a>-->
                <!--</li>-->
              </ul>
            </li>

            {{ page.topbar }}

            <li class="dropdown top-menu-item-xs">
              <a href="" class="dropdown-toggle menu-right-item profile" data-toggle="dropdown" aria-expanded="true"><img src="/{{ directory }}/assets/images/users/avatar-1.jpg" alt="user-img" class="img-circle"> </a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)"><i class="ti-user m-r-10"></i> Profile</a></li>
                <li><a href="javascript:void(0)"><i class="ti-settings m-r-10"></i> Settings</a></li>
                <li><a href="javascript:void(0)"><i class="ti-lock m-r-10"></i> Lock screen</a></li>
                <li class="divider"></li>
                <li><a href="javascript:void(0)"><i class="ti-power-off m-r-10"></i> Logout</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div> <!-- end container -->
    </div> <!-- end navbar -->
  </div>


  <div class="page-contentbar" role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div style="position: relative;top: 0px;left: 0px">
      <!--left navigation start-->
      {{ page.sidebar_navigation }}
      <!--left navigation end-->

      <div id="page-right-content">
          <div class="container">
            {{ page.breadcrumb }}

            {{ page.highlighted }}

            {{ page.help }}
            {{ page.content }}
          </div>
        {% if page.footer %}
          <footer class="footer" role="contentinfo">
            {{ page.footer }}
          </footer>
        {% endif %}
      </div>{# /.layout-content #}
    </div>

  </div>


</div>{# /.layout-container #}
